<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(Pages.NotFound)">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
        </Router>
    </ChildContent>
    <ErrorContent>
        <div class="error-boundary-msg">
             <p>CARGANDO PRODUCTOS...</p>
             <button class="btn btn-outline-warning" onclick="location.reload()">Reintentar</button>
        </div>
    </ErrorContent>
</ErrorBoundary>
